.overview {
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: chartreuse; */
  margin-top: 16px;
  padding: 0 34px;
}

.overview > p {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #8c8ca1;
}

.overview .add {
  display: flex;
  align-items: center;
  background: #ef4859;
  color: white;
  border: 0;
  padding: 12px 19px 12px 19px;
  width: 182px;
  height: 40px;
  border-radius: 4px;
}

.add p {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.06em;
  margin-left: 8px;
}

/* .add .icon {
  margin-top: 0px;
} */

.add:hover {
  opacity: 0.9;
  cursor: pointer;
  transform: scale(0.95);
}